
<!DOCTYPE html>
<meta charset="utf-8">


<table border="0">
<tittle><h2 class="the-legend">Tipo de parámetros a gestionar</h2></tittle>
<tr>
    <th></th>
    <th></th>
    <th></th>
</tr>
<% @parametro.each do |p| %>
 <tr>
    <td><%= link_to(p.name, p)%></td>
  <!--  <td><%= %></td>
    <td><%= %></td> !-->
</tr>
<% end %>
<%= form_tag({:controller => "parametros", :action => "update_cond"}, :method => :get) do %>
    <%= text_field_tag "searchbox", params[:searchbox] %>
    <%= submit_tag "Buscar", :name => nil %>
<% end %>
<%= link_to 'Parametros compuestos', new_parametro_path %>
